		/* Left hand menu. */
			.left-hand-menu_active {
				background:#6bf;
			}
			.left-hand-menu_unread {
				font-weight: bold;
			}
			.left-hand-menu p {
				padding: 0.3em;
				margin: 0em;
				width:190px;
			}

		/* Align left and right */
			.alignleft { float: left; }
			.alignright { float: right; }   

		/* Overall layout and stuff */
			/* This height-adjusting still doesn't really totally work...  */
			html, body, #doc3, #bd, #yui-main, .yui-b, .yui-g { height:100%; }
			
			.main_content {
				border-style:solid;
				border-width:3px;
				border-color:#6bf;
				padding: 1em;
				-webkit-border-radius:3px;
				min-height:85%;
				
			}
			.theheader {
				padding-top:1em;
				padding-bottom:2em;
			}
			.servicetitle {
				font-size:1.5em;
				font-weight: bold;
			}
			
		/* Types of links */
			.link_button {
				font-weight: bold;
				padding: 4px;
				background:#9df;
				-webkit-border-radius:3px;
				padding-left:10px;
				padding-right:10px;
			}
		/* Lists of stuff */
			.itemlist li {
				list-style-type: none;
				border-bottom:1px solid #ddd;
				padding-bottom: 5px;
			}
		
		/* Misc */
			.message_confirmation {
				background:#9f9;
				padding:.5em;
			}
			.message_error {
				background:#f99;
				padding:.5em;
			}
			.message_bottomtip {
				background:#FFF68F;
				padding:.5em;
				margin:0px;
				
				position:fixed;
				bottom:0px;
				left: 30%;
			}

