<div id="product_list">
<br />

<table>
  <tr>
    <th>Goal</th>
	<th>Description</th>
	<th>Acts</th>
	<th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goals.each do |goal| %>
  <tr class=list_line_goal>
    <td><%= link_to goal.title, goal %></td> 
	<td /><td /><td>Day</td><td>Week</td><td>Month</td><td>Total</td><td />
  </tr>
  <%= render(goal.missions) %>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Mission', new_mission_path %>
