#product_list
  %br/
  %table
    %tr
      %th Category
      %th Description
      %th Acts
      %th
      %th
      %th
      %th
      %th
    - @categories.each do |category|
      %tr.table_line_goal
        %td= link_to category.title, category
        %td/
        %td/
        %td Day
        %td Week
        %td Month
        %td Total
        %td
      = render(category.missions)
%br/
= link_to 'New Mission', new_mission_path
